WebApplicationMVC/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGoods">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Goods" nillable="true" type="tns:Goods" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoods" nillable="true" type="tns:ArrayOfGoods" />
  <xs:complexType name="Goods">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Goods" nillable="true" type="tns:Goods" />
</xs:schema>